global:
  domain: test.com

configs:
  params:
    server.insecure: true
    server.rootpath: /admin

server:
  extraArgs:
    - --basehref=/admin
    - --insecure

  ingress:
    enabled: true
    ingressClassName: nginx
    annotations:
      nginx.ingress.kubernetes.io/backend-protocol: HTTP
      nginx.ingress.kubernetes.io/rewrite-target: /admin/$1
      nginx.ingress.kubernetes.io/use-regex: "true"
      service.beta.kubernetes.io/azure-load-balancer-internal: "true"
    hosts:
      - host: test.com
        paths:
          - path: /admin/(.*)
            pathType: Prefix
            backend:
              service:
                name: argocd-dev-server
                port:
                  number: 80
