auth:
  adminUser:  admin
  adminPassword: keycloak123

service:
  type: ClusterIP

global:
  storageClass: default

postgresql:
  enabled: true
  primary:
    persistence:
      storageClass: default
  auth:
    password: bn_keycloak123

proxy: edge

ingress:
  enabled: true
  ingressClassName: nginx
  hostname: keycloak.d01.hdcss.com
  path: /
  pathType: Prefix
  annotations:

    nginx.ingress.kubernetes.io/scheme: internet-facing
    nginx.ingress.kubernetes.io/listen-ports: '[{"HTTP":80},{"HTTPS":443}]'
    nginx.ingress.kubernetes.io/ssl-redirect: "443"
    nginx.ingress.kubernetes.io/backend-protocol: HTTP
    nginx.ingress.kubernetes.io/target-type: ip

production: true

resourcesPreset: ""

resources:
  requests:
    memory: 512Mi
  limits:
    memory: 1024Mi
